RewriteEngine on
RewriteCond %{HTTP_HOST} ^www.printembroidery\.com.ua [NC]
RewriteRule ^(.*)$ http://printembroidery.com.ua/$1 [R=301,L]

RewriteEngine On
RewriteCond %{HTTPS} off
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}