{
  "name": "printembroidery",
  "firstRun": false,
  "exportConfig": true,
  "fileConfigs": [],
  "fileTree": {
    "expandedDirs": [
      "style",
      "style/scss",
      "js"
    ],
    "hideSystemFiles": true,
    "systemFiles": [
      ".*",
      "desktop.ini",
      "prepros.config",
      "$RECYCLE.BIN",
      "prepros.cfg",
      "prepros-6.config",
      "Prepros Export"
    ],
    "hideUnwatchedFiles": false
  },
  "imports": [
    {
      "path": "style/scss/global.scss",
      "imports": [
        "style/scss/font.scss",
        "style/scss/colors.scss",
        "style/css/icons.css"
      ]
    },
    {
      "path": "style/scss/index.scss",
      "imports": [
        "style/scss/global.scss",
        "style/scss/nav.scss",
        "style/scss/footer.scss",
        "style/scss/font.scss",
        "style/scss/colors.scss",
        "style/css/icons.css"
      ]
    },
    {
      "path": "style/scss/nav.scss",
      "imports": [
        "style/scss/global.scss",
        "style/scss/font.scss",
        "style/scss/colors.scss",
        "style/css/icons.css"
      ]
    },
    {
      "path": "services/style/scss/index.scss",
      "imports": [
        "style/scss/global.scss",
        "style/scss/nav.scss",
        "style/scss/footer.scss",
        "style/scss/font.scss",
        "style/scss/colors.scss",
        "style/css/icons.css"
      ]
    }
  ],
  "projectView": {
    "selectedView": "file-tree"
  },
  "fileWatcher": {
    "enabled": true,
    "watchedExtensions": [
      "less",
      "sass",
      "scss",
      "styl",
      "md",
      "markdown",
      "coffee",
      "js",
      "jade",
      "haml",
      "slim",
      "ls",
      "kit",
      "png",
      "jpg",
      "jpeg",
      "ts",
      "pug",
      "css",
      "html",
      "htm",
      "php"
    ]
  },
  "pathFilters": [
    "node_modules",
    ".*",
    "bower_components",
    "prepros.config",
    "Prepros Export",
    "prepros-6.config",
    "prepros.cfg",
    "wp-admin",
    "wp-includes"
  ],
  "server": {
    "port": 7879,
    "assignNewPortAutomatically": true,
    "enable": true,
    "proxy": {
      "enable": false,
      "url": ""
    }
  },
  "browser-sync": {
    "enable": false,
    "clicks": true,
    "forms": true,
    "scroll": true
  },
  "live-reload": {
    "enable": false,
    "animate": true,
    "delay": 0
  },
  "ftp-deploy": {
    "connectionType": "ftp",
    "remotePath": "new.printembroidery.com.ua",
    "uploadTimeout": 20000,
    "uploadOnChange": true,
    "ftp": {
      "secure": false,
      "keepAlive": true,
      "host": "ftp.printembroidery.com.ua",
      "port": 21,
      "user": "eusyqsih",
      "password": "6h3uPv2Ye2"
    },
    "sftp": {
      "host": "",
      "port": 22,
      "usePrivateKey": false,
      "username": "",
      "password": "",
      "privateKey": "",
      "passphrase": ""
    },
    "pathFilters": [
      "config.rb",
      "prepros.config",
      "prepros-6.config",
      "node_modules",
      "Prepros Export",
      ".git",
      ".idea",
      ".sass-cache",
      ".hg",
      ".svn",
      ".cache",
      ".DS_Store",
      "*.sass",
      "*.scss",
      "*.less",
      "*.pug",
      "*.jade",
      "*.styl",
      "*.haml",
      "*.slim",
      "*.coffee",
      "*.ls",
      "*.kit",
      "*.ts"
    ],
    "history": [
      {
        "file": "data/font/MuseoSansCyrl-700.ttf",
        "ctime": "2018-12-16T11:50:48.613Z",
        "mtime": "2017-07-26T20:15:54.000Z",
        "size": 128336
      },
      {
        "file": "data/font/MuseoSansCyrl-700.woff",
        "ctime": "2018-12-16T11:50:48.612Z",
        "mtime": "2017-07-26T20:15:54.000Z",
        "size": 45080
      },
      {
        "file": "data/font/Museosanscyrl500.ttf",
        "ctime": "2018-12-16T11:04:08.480Z",
        "mtime": "2015-11-02T11:28:52.000Z",
        "size": 91032
      },
      {
        "file": "data/font/Museosanscyrl500.woff",
        "ctime": "2018-12-16T11:04:08.479Z",
        "mtime": "2015-11-02T11:28:52.000Z",
        "size": 34884
      },
      {
        "file": "data/font/Museosanscyrl500.woff2",
        "ctime": "2018-12-16T11:04:08.478Z",
        "mtime": "2015-11-02T11:28:54.000Z",
        "size": 26900
      },
      {
        "file": "data/font/print-embroidery.eot",
        "ctime": "2018-12-30T10:03:16.228Z",
        "mtime": "2018-12-30T07:48:48.000Z",
        "size": 4410
      },
      {
        "file": "data/font/print-embroidery.svg",
        "ctime": "2018-12-30T10:03:16.246Z",
        "mtime": "2018-12-30T07:48:48.000Z",
        "size": 7561
      },
      {
        "file": "data/font/print-embroidery.woff",
        "ctime": "2018-12-30T10:03:16.235Z",
        "mtime": "2018-12-30T07:48:48.000Z",
        "size": 2948
      },
      {
        "file": "data/img/author.jpg",
        "ctime": "2018-12-16T14:50:23.901Z",
        "mtime": "2018-12-16T14:42:05.830Z",
        "size": 11004
      },
      {
        "file": "data/img/chevron-down.svg",
        "ctime": "2018-12-29T07:24:25.226Z",
        "mtime": "2018-12-29T07:23:56.796Z",
        "size": 281
      },
      {
        "file": "data/img/direct-print.png",
        "ctime": "2018-12-29T07:34:23.472Z",
        "mtime": "2018-12-16T12:11:52.448Z",
        "size": 32719
      },
      {
        "file": "data/img/direct-print@2x.png",
        "ctime": "2018-12-29T07:34:23.473Z",
        "mtime": "2018-12-16T12:11:53.014Z",
        "size": 114520
      },
      {
        "file": "data/img/direct-print@3x.png",
        "ctime": "2018-12-29T07:34:23.473Z",
        "mtime": "2018-12-16T12:11:52.893Z",
        "size": 245079
      },
      {
        "file": "data/img/embroidery.png",
        "ctime": "2018-12-29T07:35:00.414Z",
        "mtime": "2018-12-16T12:17:41.391Z",
        "size": 36494
      },
      {
        "file": "data/img/embroidery@2x.png",
        "ctime": "2018-12-29T07:35:00.414Z",
        "mtime": "2018-12-16T12:17:43.080Z",
        "size": 128723
      },
      {
        "file": "data/img/embroidery@3x.png",
        "ctime": "2018-12-29T07:35:00.413Z",
        "mtime": "2018-12-16T12:17:44.899Z",
        "size": 272012
      },
      {
        "file": "data/img/favicon.png",
        "ctime": "2018-12-16T15:56:31.594Z",
        "mtime": "2017-11-16T08:27:25.000Z",
        "size": 31305
      },
      {
        "file": "data/img/logo-dark.svg",
        "ctime": "2018-12-24T07:11:39.913Z",
        "mtime": "2018-12-24T07:11:27.155Z",
        "size": 7490
      },
      {
        "file": "data/img/logo-light.svg",
        "ctime": "2018-12-19T08:28:16.450Z",
        "mtime": "2018-12-19T08:28:16.450Z",
        "size": 7305
      },
      {
        "file": "data/img/menu-close.svg",
        "ctime": "2018-12-24T07:09:03.804Z",
        "mtime": "2018-12-24T07:08:19.886Z",
        "size": 422
      },
      {
        "file": "data/img/menu.svg",
        "ctime": "2018-12-17T10:56:18.327Z",
        "mtime": "2018-12-16T11:30:21.971Z",
        "size": 257
      },
      {
        "file": "data/img/quote-bg.png",
        "ctime": "2018-12-16T16:03:57.272Z",
        "mtime": "2018-12-16T14:41:08.372Z",
        "size": 89953
      },
      {
        "file": "data/img/quote.svg",
        "ctime": "2018-12-16T14:41:43.778Z",
        "mtime": "2018-12-16T14:40:07.864Z",
        "size": 211
      },
      {
        "file": "data/img/rhinestone.png",
        "ctime": "2018-12-29T07:35:34.625Z",
        "mtime": "2018-12-16T12:18:29.324Z",
        "size": 27097
      },
      {
        "file": "data/img/rhinestone@2x.png",
        "ctime": "2018-12-29T07:35:34.624Z",
        "mtime": "2018-12-16T12:18:30.586Z",
        "size": 101672
      },
      {
        "file": "data/img/rhinestone@3x.png",
        "ctime": "2018-12-29T07:35:34.623Z",
        "mtime": "2018-12-16T12:18:30.521Z",
        "size": 215201
      },
      {
        "file": "data/img/sequin.png",
        "ctime": "2018-12-29T07:35:14.780Z",
        "mtime": "2018-12-16T12:18:09.261Z",
        "size": 36614
      },
      {
        "file": "data/img/sequin@2x.png",
        "ctime": "2018-12-29T07:35:14.779Z",
        "mtime": "2018-12-16T12:18:11.203Z",
        "size": 140191
      },
      {
        "file": "data/img/sequin@3x.png",
        "ctime": "2018-12-29T07:35:14.780Z",
        "mtime": "2018-12-16T12:18:11.856Z",
        "size": 301676
      },
      {
        "file": "data/img/sewing.png",
        "ctime": "2018-12-16T15:59:24.006Z",
        "mtime": "2018-12-16T14:59:44.925Z",
        "size": 272138
      },
      {
        "file": "data/img/sewing@2x.png",
        "ctime": "2018-12-16T15:59:24.006Z",
        "mtime": "2018-12-16T14:59:47.076Z",
        "size": 1040202
      },
      {
        "file": "data/img/sewing@3x.png",
        "ctime": "2018-12-16T15:59:24.007Z",
        "mtime": "2018-12-16T14:59:47.848Z",
        "size": 2280333
      },
      {
        "file": "data/img/thermo-print.png",
        "ctime": "2018-12-29T07:34:44.270Z",
        "mtime": "2018-12-16T12:17:17.632Z",
        "size": 31623
      },
      {
        "file": "data/img/thermo-print@2x.png",
        "ctime": "2018-12-29T07:34:44.269Z",
        "mtime": "2018-12-16T12:17:18.684Z",
        "size": 110144
      },
      {
        "file": "data/img/thermo-print@3x.png",
        "ctime": "2018-12-29T07:34:44.268Z",
        "mtime": "2018-12-16T12:17:17.160Z",
        "size": 226815
      },
      {
        "file": "data/video/header.mp4",
        "ctime": "2018-12-15T10:42:58.536Z",
        "mtime": "2018-12-10T13:53:40.929Z",
        "size": 70891812
      },
      {
        "file": "index.html",
        "ctime": "2019-01-06T07:06:35.313Z",
        "mtime": "2019-01-06T07:06:35.313Z",
        "size": 15431
      },
      {
        "file": "js/index.js",
        "ctime": "2018-12-25T11:13:49.297Z",
        "mtime": "2018-12-25T11:13:49.297Z",
        "size": 311
      },
      {
        "file": "js/nav.js",
        "ctime": "2018-12-29T08:51:27.036Z",
        "mtime": "2018-12-29T08:51:27.036Z",
        "size": 898
      },
      {
        "file": "reusable/footer.html",
        "ctime": "2019-01-06T07:02:05.902Z",
        "mtime": "2019-01-06T07:02:05.902Z",
        "size": 1691
      },
      {
        "file": "services/direct-printing/index.html",
        "ctime": "2018-12-30T09:55:16.042Z",
        "mtime": "2018-12-30T09:55:16.042Z",
        "size": 6702
      },
      {
        "file": "services/direct-printing/img/direct-print.png",
        "ctime": "2018-12-27T13:45:16.839Z",
        "mtime": "2018-12-27T13:21:14.556Z",
        "size": 262806
      },
      {
        "file": "services/direct-printing/img/direct-print@2x.png",
        "ctime": "2018-12-27T13:45:16.837Z",
        "mtime": "2018-12-27T13:21:14.134Z",
        "size": 906691
      },
      {
        "file": "services/direct-printing/img/direct-print@3x.png",
        "ctime": "2018-12-27T13:45:16.838Z",
        "mtime": "2018-12-27T13:21:14.958Z",
        "size": 1630550
      },
      {
        "file": "services/style/css/index.css",
        "ctime": "2019-01-06T07:11:08.399Z",
        "mtime": "2019-01-06T07:11:08.399Z",
        "size": 10775
      },
      {
        "file": "services/style/css/index.css.map",
        "ctime": "2019-01-03T09:43:55.024Z",
        "mtime": "2019-01-03T09:43:55.024Z",
        "size": 2435
      },
      {
        "file": "style/css/icons.css",
        "ctime": "2018-12-27T13:17:36.165Z",
        "mtime": "2018-12-27T12:22:43.339Z",
        "size": 460
      },
      {
        "file": "style/css/index.css",
        "ctime": "2019-01-06T07:11:42.282Z",
        "mtime": "2019-01-06T07:11:42.282Z",
        "size": 14922
      },
      {
        "file": "style/css/index.css.map",
        "ctime": "2019-01-03T09:56:26.878Z",
        "mtime": "2019-01-03T09:56:26.878Z",
        "size": 3056
      },
      {
        "file": "style/scss/index.css.map",
        "ctime": "2018-12-15T11:12:16.167Z",
        "mtime": "2018-12-15T11:12:16.167Z",
        "size": 180
      },
      {
        "file": "js/smoothScroll.js",
        "ctime": "2019-01-03T11:24:56.286Z",
        "mtime": "2019-01-03T11:24:56.286Z",
        "size": 1197
      }
    ]
  },
  "file-type-sass": "{\"compilers\":[\"node-sass\",\"autoprefixer\",\"minify-css\"],\"compiler-autoprefixer\":{\"enabled\":false}}",
  "file-type-less": "{\"compilers\":[\"less\",\"autoprefixer\",\"minify-css\"]}",
  "autoprefixer": {
    "browsers": "last 5 versions"
  },
  "file-type-pug": "{\"compilers\":[\"pug\"]}",
  "file-type-css": "{\"compilers\":[\"autoprefixer\",\"cssnext\",\"minify-css\"]}",
  "file-type-javascript": "{\"compilers\":[\"concat-js\",\"babel\",\"uglify-js\"]}",
  "file-type-stylus": "{\"compilers\":[\"stylus\",\"autoprefixer\",\"minify-css\"]}",
  "file-type-markdown": "{\"compilers\":[\"markdown\"]}",
  "file-type-haml": "{\"compilers\":[\"haml\"]}",
  "file-type-slim": "{\"compilers\":[\"slim\"]}",
  "file-type-coffee-script": "{\"compilers\":[\"coffee-script\",\"uglify-js\"]}",
  "file-type-livescript": "{\"compilers\":[\"livescript\",\"uglify-js\"]}",
  "file-type-kit": "{\"compilers\":[\"kit\"]}",
  "uglify-js": {
    "ie8": false,
    "compress": {
      "sequences": true,
      "properties": true,
      "dead_code": true,
      "drop_debugger": true,
      "unsafe": false,
      "unsafe_comps": false,
      "unsafe_math": false,
      "unsafe_proto": false,
      "unsafe_regexp": false,
      "conditionals": true,
      "comparisons": true,
      "evaluate": true,
      "booleans": true,
      "loops": true,
      "unused": true,
      "toplevel": false,
      "top_retain": "",
      "hoist_funs": true,
      "hoist_vars": false,
      "if_return": true,
      "join_vars": true,
      "collapse_vars": true,
      "reduce_vars": true,
      "warnings": true,
      "negate_iife": true,
      "pure_getters": false,
      "pure_funcs": [],
      "drop_console": false,
      "expression": false,
      "keep_fargs": true,
      "keep_fnames": false,
      "passes": 1,
      "keep_infinity": false,
      "side_effects": true,
      "global_defs": []
    },
    "output": {
      "ascii_only": false,
      "beautify": false,
      "comments": "",
      "indent_level": 4,
      "indent_start": 0,
      "inline_script": false,
      "keep_quoted_props": false,
      "max_line_len": false,
      "preamble": "",
      "preserve_line": false,
      "quote_keys": false,
      "quote_style": 0,
      "semicolons": true,
      "shebang": true,
      "width": 80
    }
  },
  "cssnext": {
    "customProperties": true,
    "applyRule": true,
    "calc": false,
    "nesting": true,
    "customMedia": true,
    "mediaQueriesRange": true,
    "customSelectors": true,
    "attributeCaseInsensitive": true,
    "colorRebeccapurple": true,
    "colorHwb": true,
    "colorGray": true,
    "colorHexAlpha": true,
    "colorFunction": true,
    "fontVariant": true,
    "filter": true,
    "initial": true,
    "rem": true,
    "pseudoElements": true,
    "pseudoClassMatches": true,
    "pseudoClassNot": true,
    "pseudoClassAnyLink": true,
    "colorRgba": true,
    "overflowWrap": true
  },
  "file-type-typescript": "{\"compilers\":[\"typescript\",\"uglify-js\"]}",
  "babel": {
    "useBabelRc": true,
    "presets": {
      "babel-preset-es2015": true
    },
    "plugins": {
      "babel-plugin-syntax-jsx": true,
      "babel-plugin-transform-react-jsx": true,
      "babel-plugin-transform-async-to-generator": true,
      "babel-plugin-transform-class-properties": true,
      "babel-plugin-transform-object-rest-spread": true
    }
  },
  "file-type-png": "{\"compilers\":[\"png\"]}",
  "file-type-jpg": "{\"compilers\":[\"jpg\"]}"
}