@import "../../../style/scss/global.scss";

.container {
  height: 100vh;
  min-height: 600px;

  .logo {
    display: flex;
    justify-content: center;

    img {
      width: 100%;
      margin-top: 40px;
    }
  }

  .message {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);

    .col {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    &-icon {
      font-size: 76px;
      margin-bottom: 0;
      line-height: 76px;

      &--success {
        color: $mainColor;
      }

      &--fail {
        color: $secondaryColor;
      }
    }

    &-text {
      margin-bottom: 20px;

      h1 {
        margin-bottom: 10px;
      }
    }
  }
}