@charset "UTF-8";

/* @font-face {
  font-family: "icon";
  src: url("../../data/font/print-embroidery.eot");
  src: url("../../data/font/print-embroidery.eot?#iefix") format("embedded-opentype"),
    url("../../data/font/print-embroidery.woff") format("woff"),
    url("../../data/font/print-embroidery.ttf") format("truetype"),
    url("../../data/font/print-embroidery.svg#print-embroidery") format("svg");
  font-weight: normal;
  font-style: normal;

} */