@import "./../../../style/scss/global.scss";
@import "./../../../style/scss/nav.scss";
@import "./../../../style/scss/footer.scss";

.nav {
  color: $textColor;
}

.order {
  width: 100%;
  padding: 150px 0;

  .order-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
      cursor: pointer;
    }
  }

  .order-form {
    &-checkbox {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      label {
        padding-left: 20px;
      }
    }

    input[type="text"],
    input[type="tel"],
    input[type="email"],
    textarea {
      width: 100%;
      border-radius: 8px;
      border: 1px solid #c8d3de;
      padding: 9px 20px;
      color: $textColor;
      margin-top: 10px;
    }

    &-section {
      &-name {
        font-weight: bold;
        margin-top: 20px;

        &.required:after {
          content: " *";
          color: $secondaryColor;
        }
      }

      &-description {
        opacity: 0.7;
      }

      &-checkbox-container {
        margin-top: 10px;
      }

      // Hiding and customizing the input
      input[type="file"] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }

      input[type="file"]+label {
        margin-top: 20px;
        float: right;
        cursor: pointer;

        @media (max-width: 991.98px) {
          float: left;
        }
      }

      input[type="file"]:focus+label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
      }

      &-file {
        display: flex;
        align-items: center;

        .order-form-section-name {
          margin-bottom: 4px;
        }
      }

      input[type="submit"] {
        margin-top: 20px;
        cursor: pointer;
      }
    }
  }
}