@import "./font.scss";
@import "./colors.scss";

* {
  margin: 0;
  position: relative;
}

body {
  font-family: Museo, Arial, sans-serif;
  font-weight: 500;
  color: $textColor;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
}

h2 {
  font-size: 36px;
  line-height: 1.25;
}

.btn {
  display: inline-block;
  padding: 8px 20px;
  border-radius: 8px;
  color: $textColor;
  border: 2px solid transparent;
  transition: all .1s ease;

  &:hover {
    text-decoration: none;
  }
}