.nav {
  align-items: space-between;
  color: #fff;
  z-index: 2;
  padding: 50px 0;

  &-menu {
    display: flex;
    margin-bottom: 0;
    align-items: center;

    li {
      list-style: none;

      a {
        color: inherit;
        font-size: 16px;
      }

      &:not(:last-child) {
        margin-right: 50px;
      }

      &.not-active a {
        opacity: 0.2;
        transition: all .1s ease;

        &:hover {
          opacity: 1;
        }
      }
    }
  }
}