@import "./global.scss";

.nav {
  color: #fff;
  z-index: 2;
  padding: 50px 0;
}

@media screen and (min-width: 1200px) {
  .nav {
    &-menu {
      display: flex;

      ul {
        display: flex;
        margin-bottom: 0;
        align-items: center;
      }

      li {
        list-style: none;

        a {
          color: inherit;
          font-size: 16px;
        }

        &:not(:last-child) {
          margin-right: 50px;
        }

        &.not-active a {
          opacity: 0.2;
          transition: all .1s ease;

          &:hover {
            opacity: 1;
          }
        }
      }

      &-icon {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .nav {
    &-menu--closed {
      display: none;
    }

    &-menu--opened {
      padding: 50px 0;
      background: rgba($color: $bgLight, $alpha: 0.9);
      color: $textColor;
      display: flex;
      flex-direction: column;
      width: 40%;
      height: 100vh;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 3;

      ul {
        display: flex;
        margin-bottom: 0;
        align-items: flex-end;
        flex-direction: column;
        width: 100%;
      }

      li {
        list-style: none;
        margin-bottom: 10px;

        a {
          color: inherit;
          font-size: 16px;
        }

        &.not-active a {
          opacity: 0.2;
          transition: all .1s ease;

          &:hover {
            opacity: 1;
          }
        }
      }
    }

    &-menu-icon {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      svg {
        fill: #fff;
        width: 24px;
        height: 24px;
      }
    }

    &-menu-fade {
      // position: fixed;
      // top: 0;
      // right: 0;
      // bottom: 0;
      // left: 0;
      // background: $textColor;
      // opacity: 0.8;
      // z-index: 2;
    }
  }
}