@import "../../../style/scss/global.scss";
@import "../../../style/scss/nav.scss";
@import "../../../style/scss/footer.scss";

.nav {
  color: $textColor;
}

h2 {
  position: relative;
  margin-left: 48px;
  margin-bottom: 50px;

  &::before {
    content: '+';
    font-size: 46px;
    font-weight: 700;
    color: $secondaryColor;
    position: absolute;
    top: -8px;
    left: -48px;
  }
}

.header {
  height: 100vh;
  min-height: 680px;
  position: relative;
  overflow: hidden;
  background-color: #f1f4f8;

  .container {
    flex-direction: column;
    height: 100%;
    position: relative;
  }

  &-main {
    width: 100%;
    display: flex;
    align-items: center;
    z-index: 1;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    h1 {
      font-size: 36px;
      line-height: 1.25;
      margin-bottom: 20px;
    }

    p {
      font-size: 16px;
      font-weight: 500;
      line-height: 1.56;
      margin-bottom: 20px;
    }
  }

  &-image {
    position: relative;

    &-label {
      position: absolute;
      bottom: 0;
      left: 0;
      background: $secondaryColor;
      border-radius: 50%;
      width: 135px;
      height: 135px;
      font-weight: bold;
      color: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;

      p {
        margin-bottom: 0;
        line-height: 1.56;
      }

      &-value {
        font-size: 46px;
        line-height: 0.98;
      }
    }
  }

  @media (max-width: 767.98px) {
    .header-main {
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;

      .header-text {
        margin-bottom: 50px;
      }

      .header-image {
        height: 135px;

        img {
          display: none;
        }

        &-label {
          top: 0;
          left: 50%;
          transform: translateX(-50%);
        }
      }
    }
  }
}

.howto {
  @extend .features;
  background: #fff !important;

  .card-icon-container {
    background: $bgLight;
    margin-bottom: 20px;

    .card-icon {
      font-family: "Museo";
      color: $textColor;
      font-size: 48px !important;
      padding-top: 8px;
    }

    .card-icon-success {
      font-family: "icon";
      font-size: 80px !important;
      color: $mainColor;
      padding-top: 18px;
    }
  }

  a {
    color: $secondaryColor;
  }
}

.about {
  background: #fff;

  @media (max-width: 1199.98px) {
    p:first-child {
      margin-bottom: 24px;
    }
  }

  &-info {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    
    &-left {  
      @media only screen and (min-width: 992px) {
        margin-right: 30px;
      }
    }

    &-right {
      @media only screen and (min-width: 992px) {
        margin-left: 30px;
      }
    }

    & img {
          width: 100%
        }

    &-block {
      flex-direction: column;
      justify-content: space-between;
      @media only screen and (max-width: 991px) {
        margin-bottom: 50px;
      }

      & div  {
        margin-top: 16px;
      }



    }

    &:not(:last-child) {
      margin-bottom: 44px;
    }

    &-reverse {
      @media (min-width: 991.98px) {
        flex-direction: row-reverse;
      }
    }

    &-image {
      display: flex;
      justify-content: center;

      &.mt {
        @media (max-width: 991.98px) {
          margin-top: 44px;
        }
      }
    }
  }
}

.features {
  background: $bgLight;

  .card {
    height: 320px;
    padding: 30px 12px;

    &-icon-container {
      width: 120px;
      height: 120px;

      .card-icon {
        font-size: 80px;
      }
    }

    h3 {
      font-size: 16px;
      margin-top: 10px;
    }
  }
}

.clothes-type-card {
  padding: 16px 28px;
  border-radius: 4px;
  height: 400px;
  font-size: 16px;
  font-weight: 500;
  background: #fff;
  text-align: center;
  white-space: nowrap;
  display: flex;
  margin-top: 25px;
  flex-direction: column;
  justify-content: space-between;
}

.clothes-price-currency {
  font-weight: bold;
}

.adult-clothes-price {
  margin-bottom: 15px;
}

.clothes-prices-cards {
  .prices-card-description {
    font-size: 10px;
    font-weight: 500;
  }

  margin-top: 50px;

  .prices-example-card {
    border-radius: 4px;
    background: #fff;
    height: 340px;
    margin-top: 25px;
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .prices-example-card__image {
    margin: 0 auto;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.prices-info {
  margin-top: 40px;
  display: flex;

  .row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  h3 {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.prices-info-card {
  background: #fff;
  border-radius: 4px;
  padding: 20px 28px;
}

.info-card-align {
  align-self: stretch;
}

@media only screen and (max-width: 991px) {
  .info-card-align {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .prices-info-card {
    height: 75%;
    align-items: stretch;
  }
}

.list-block {
  margin-top: 3vh;
}

.list-element {
  background-color: #ffffff;
  box-shadow: inset 0 -1px 0 0 #f1f4f8;
  white-space: nowrap;
  height: 6vh;

  p {
    line-height: 6vh;
    margin: o auto;
    text-align: justify;
  }
}

.prices {
  background: $bgGray;

  &-tag {
    padding: 8px 32px;
    background: $secondaryColor;
    color: #fff;
    border-radius: 4px;
    line-height: 1.5;
    display: flex;
    justify-content: center;
    align-items: center;

    &__value {
      font-weight: bold;
      font-size: 36px;
      line-height: 0.8;
      margin: 10px 0;
    }

    @media (max-width: 767.98px) {
      margin-top: 30px;
    }
  }

  .list {
    margin-top: 15px;
  }
  
  .prices-info {
  margin-top: 40px;
  display: flex;

  .row {
    display: flex;
    flex-direction: row;
    align-items: stretch;
  }

  h3 {
    margin-bottom: 20px;
    margin-top: 20px;
  }
}

.prices-info-card {
  background: #fff;
  border-radius: 4px;
  padding: 20px 28px;
}

.info-card-align {
  align-self: stretch;
}

@media only screen and (max-width: 991px) {
  .info-card-align {
    margin-bottom: 30px;
  }
}

@media only screen and (min-width: 992px) {
  .prices-info-card {
    height: 75%;
    align-items: stretch;
  }
}



  &-cards {
    margin-top: 50px;

    .prices-card {
      border-radius: 4px;
      background: #fff;
      height: 285px;
      margin-top: 25px;
      padding: 50px 10px;
      text-align: center;
      font-weight: 700;
      font-size: 22px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &-price {
        font-size: 48px;

        &-currency {
          font-size: 22px;
          font-weight: 500;
          margin: -20px 0 15px 0;
        }
      }

      &-description {
        font-size: 10px;
        font-weight: 500;
      }
    }

    .prices-example-card {
      border-radius: 4px;
      background: #fff;
      height: 340px;
      margin-top: 25px;
      padding: 24px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      &__image {
        margin: 0 auto;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }

  &-info {
    border-radius: 4px;
    margin-top: 40px;
    padding: 20px 28px;
    display: flex;

    .icon {
      color: #c8d3de;
      margin-right: 24px;
    }
  }

  &-order {
    margin-top: 50px;
    display: flex;
    justify-content: center;
  }
}

.sewing {
  background: $bgLight;

  &-wholesale {
    width: 100%;
    background: #fff;
    border-radius: 8px;
    padding: 50px 0;
    margin-bottom: 80px;

    h3 {
      margin-bottom: 30px;
    }

    @media (max-width: 767.98px) {
      text-align: center;
      padding-right: 50px;
      padding-left: 50px;

      &-image {
        display: none;
      }
    }
  }

  &-card {
    border-radius: 8px;
    background: #fff;
    padding: 50px 0;

    .row {
      align-items: center;
    }

    &-left>* {
      margin-bottom: 25px;
    }

    h3 {
      font-size: 36px;
    }

    &-gift {
      display: flex;
      align-items: center;
      margin-bottom: 25px;
      font-weight: bold;

      .gift {
        font-family: icon;
        font-size: 24px;
        color: #f49879;
        margin-right: 25px;
      }
    }

    @media (max-width: 991.98px) {
      h3 {
        font-size: 22px;
      }
    }

    @media (max-width: 767.98px) {
      padding-right: 50px;
      padding-left: 50px;

      &-image {
        display: none;
      }

      &-image {
        display: none;
      }
    }

    @media (max-width: 575.98px) {
      .btn-main {
        width: 100%;
        text-align: center;
      }
    }
  }
}

.video {
  background: $textColor;
}

.order {
  background: $bgLight;

  .order-top {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .icon {
      cursor: pointer;
    }
  }

  .order-form {
    &-checkbox {
      display: flex;
      align-items: center;
      margin-bottom: 10px;

      label {
        padding-left: 20px;
      }
    }

    input[type=text],
    input[type=tel] {
      width: 100%;
      border-radius: 8px;
      border: 1px solid #c8d3de;
      padding: 9px 20px;
      color: $textColor;
    }

    &-section {
      &-name {
        font-weight: bold;
        margin-bottom: 10px;
        margin-top: 20px;

        &.required:after {
          content: " *";
          color: $secondaryColor
        }
      }

      // Hiding and customizing the input
      input[type=file] {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
      }

      input[type=file]+label {
        margin-top: 20px;
        float: right;
        cursor: pointer;

        @media (max-width: 991.98px) {
          float: left;
        }
      }

      input[type=file]:focus+label {
        outline: 1px dotted #000;
        outline: -webkit-focus-ring-color auto 5px;
      }

      &-file {
        display: flex;
        align-items: center;

        .order-form-section-name {
          margin-bottom: 4px;
        }
      }

      input[type=submit] {
        margin-top: 20px;
        cursor: pointer;
      }
    }
  }
}